@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {

    .upper-header {
        background-color: #0282F9;
        padding-right: 5rem;

        a {
            color: white;
            font-size: 10px;


        }
    }

    a {
        color: #464646;
    }

    img {
        width: 50px;
        height: 50px;
    }

    .s-bar {
        border: none;
    }

    .s-control {
        border-bottom: 2px solid #0282F9;
        height: 25px;

        i {
            color: #464646;
            font-weight: bold;
        }
    }

    li {
        font-size: 12px;
    }
}


footer {
    span {
        font-size: 12px
    }

    .footer-top {
        background-color: #0282F9;
        color: white;
        height: 70px;

        .footer-icons {
            width: 80px;
            height: 40px
        }

        a {
            text-decoration: none;
            color: white;
        }
    }

    .bottom-footer {
        background-color: #303030;
        height: 70px;

    }

}

.jumbotron {
    height: 300px;
    object-fit: cover;
    object-position: top;

    img {
        width: 100%;
    }

}


.main-bkg {
    background-color: #1D1D1D;

}

.film-card {
    width: 300px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-h4 {
    background-color: rgba(41, 41, 41, 0.726);
}

.active {
    color: #0282F9 !important;
    border-bottom: 3px solid #0282F9
}